html {
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8) ), url('../img/404_office.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

body div {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 64px;
    padding: 5px 10px;
    border: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: black;
    text-shadow: 0 0 4px rgba(30, 144, 255, 0.8);
}
